@using Microsoft.AspNetCore.Localization
@using AutoAppHoho.Models

@{
    string languageId = "nl";
    string languageName = "Nederlands";

    try
    {
        languageId = Context.Request.Cookies[CookieRequestCultureProvider.DefaultCookieName].Substring(0, 2);
        languageName = Language.LanguageDictionary[languageId].Name;
    }
    catch { languageId = "nl"; }

    var thisPage = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="dropdown">@languageName</a>
        <ul class="dropdown-menu">
            @foreach (var l in Language.Languages)
            {
                if (l.Id != languageId)
                {
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="ChangeLanguage" asp-route-id="@l.Id" asp-route-returnUrl="@thisPage">@l.Name</a></li>
                }
            }
        </ul>
    </li>
</ul>
